@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+ZA:wght@100..400&family=Rubik+Gemstones&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Bar */
main-nav {
    width: 100%;
    display: flex;
    background-color: white;
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23C30F78'/%3E%3Cstop offset='1' stop-color='%239F0000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23F7A531' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23F7A531' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.48'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");*/
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: groove 5px rgb(134 8 237 / 50%);
}

.logo {
    display: flex;
    color: white;
    margin: 0px 10px 0px -140px;
    font-size: 25px;
    height: 75px;
}

.logo-img {
    margin: 0px 0px 0px 100px;
}

ul,
li,
a:hover {
    color: rgb(4, 235, 252);
}

ul,
li,
a {

    display: flex;
    list-style: none;
    color: rgb(233 6 66 / 98%);;
    text-decoration: none;
    margin: 5px 5px 5px 8px;
    font-size: 18px;
    font-weight: 600;
}

.menu-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 10px;
    display: none;
}

.get-quote {
    height: 40px;
    width: 100px;
    border: 2px solid black;
    border-radius: 40px;
    background: #00f5a2;
    font-size: 12px;
    font-weight: 700;
    /* align-items: center; */
    text-align: center;
    font-family: 'Josefin Sans';
    margin: 0px 0px 0px 15px;

}

.get-quote:hover {
    background: #f5e503;
    color: #000000;
}

.banner {
    height: 260px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-image: url("/asset/image/rb_350.png");
    background-attachment: fixed;
    background-size: cover;
}

.banner-txt {
    justify-items: center;
    padding: 20px;
    color: rgb(37, 37, 227);
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.banner-txt h1 {
    font-size: 32px;
    padding: 8px;
}

.banner-txt p {
    font-size: 18px;
    padding: 8px;
    font-family: "Playwrite ZA", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
}

.banner-txt button {
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    background-color: greenyellow;
    border-radius: 30px;
    padding: 8px;
    font-family: 'Josefin Sans';
}

.banner-txt button:hover {
    background-color: rgb(219, 4, 4);
    color: azure;
}

.primary-box {
    display: flex;
    background-color: white;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 10px 0px;
    background-image: url("/asset/image/15364609_5590895.svg");
    background-size: cover;
    background-position-x: -250px;
    background-position-y: -60px;
    background-blend-mode: hard-light;
}

.primary-box .box1 {
    display: flex;
    margin: 10px 80px 10px 80px;
    height: 100%;
    text-align: justify;
    font-size: 18px;
    font-family: cursive;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.primary-box .box2 img {
    height: 270px;
    width: auto;
    margin: 20px 80px 20px 70px;
}

.primary-box .box1 h1 {
    font-size: 30px;
    margin: 10px;
}
.secondary-box{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    margin: 40px 0px 40px 0px;

}
.secondary-box .box1{
    display: flex;
    flex-direction: column;
    margin: 0px 80px 0px 80px;
    font-size: 16px;
    font-family: cursive;
}
.secondary-box .box1 h2{
    font-size: 30px;
}
.secondary-box .box2{
    margin: 0px 80px 0px 80px;
}
.secondary-box .box2 img{
    height: 200px;
    width: 200px;
}

/* footer section */
footer {
    display: flex;
    background: brown;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center
}

.copyright {
    color: aliceblue;
    font-size: 18px;
    text-shadow: 2px 0px black;
}

/* media query */
@media screen and (max-width:1030px) {
    .box-mat-0 .box1 {
        background-color: #ff9d00;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
        padding: 8px;
        margin: 5px;
        border: 2px #fdfffd;
        width: 22%;
        height: 400px;
        box-shadow: 5px 10px 8px #383636;
    }

    @media screen and (max-width:1020px) {}

}

@media screen and (max-width:900px) {}

@media screen and (max-width:750px) {

    ul,
    li,
    a {
        display: flex;
        list-style: none;
        color: rgba(231, 235, 14, 0.979);
        text-decoration: none;
        margin: 5px 0px 5px 6px;
        font-size: 18px;
        font-weight: 600;
    }

    .logo {
        display: flex;
        color: white;
        margin: 0px 0px 0px -90px;
        font-size: 25px;
        height: 75px;
    }

}

@media screen and (max-width:635px) {
    .logo {
        display: flex;
        color: white;
        margin: 0px 0px 0px 5px;
        font-size: 25px;
        height: 75px;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        background-color: #9F0000;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23C30F78'/%3E%3Cstop offset='1' stop-color='%239F0000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23F7A531' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23F7A531' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.48'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
    }

    .menu-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 50px 0px 0px;
        /* display: none; */
    }

    .logo-img {
        margin: 0px 0px 0px 10px;
        height: 75px;
        width: 80px;
    }

    .menu-nav {
        width: 100%;
        display: flex;
        background-color: white;
        background-image: none;
        background-attachment: fixed;
        background-size: cover;
        align-items: flex-start;
        justify-content: space-evenly;
        position: sticky;
        top: 0px;
        flex-direction: column;
        height: 75px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }


    ul,
    li,
    a {
        display: flex;
        list-style: none;
        color: rgba(231, 235, 14, 0.979);
        text-decoration: none;
        margin: 5px 0px 5px 6px;
        font-size: 18px;
        font-weight: 600;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo {
        display: flex;
        color: white;
        margin: 0px 0px 0px 0px;
        font-size: 25px;
        height: 75px;
        width: 100%;
    }

    .p-menu {
        width: 200px;
        background-color: black;
        height: auto;
        margin: 0px 0px 0px 0px;
        position: relative;
        top: 0;
        left: -205px;
    }

    .p-menu.active {
        left: 0px;

        h1 {
            font-size: 22px;
        }

        .banner-txt {
            justify-items: center;
            padding: 0px;
            color: rgb(37, 37, 227);
            font-family: "Josefin Sans", serif;
            font-optical-sizing: auto;
            font-style: normal;
        }
    }

    @media screen and (max-width: 515px) {
        .banner-txt h1 {
            font-size: 25px;
            padding: 6px;
        }

        .banner-txt p {
            font-size: 16px;
            padding: 6px;
            font-family: "Playwrite ZA", serif;
            font-optical-sizing: auto;
            font-style: normal;
            color: black;
        }

        .banner-txt button {
            font-size: 18px;
            padding: 10px 20px 10px 20px;
            background-color: greenyellow;
            border-radius: 30px;
            padding: 6px;
            font-family: 'Josefin Sans';
        }
    }
}